article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section
{display:block}

*{
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
}


ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}