article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section
{display:block}

*{
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
}

body{
    background-color: white;
    font: 14px 微软雅黑,黑体, Verdana,sans-serif;
    color: #333333;
    border-top: 8px solid #006f47;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/*头部*/
.wrap{
    width: 960px;
    margin: 0 auto;
}
.top-header{
    height: 120px;
}
.starbucks-logo{
    float: left;
    width: 84px;
    height: 84px;
    padding-top: 20px;
}
.top-menu{
    float: left;
    margin-top: 80px;
    margin-left: 30px;
}
.top-menu ul li{
    /*display: inline-block;*/
    float: left;
    background-color: #efe5d0;
    padding: 5px 10px;
    margin: 0 5px;
}
.top-menu ul li.select{
    background-color: #c8b99c;
}
.top-menu ul li a{
    color: #006f47;
    font-weight: bold;
}

/*侧边栏*/
.left-aside{
    width: 350px;
    float: left;
}
.left-aside section{
    background: url("images/background.gif") 0 0 repeat;
    padding: 20px;
    margin-top: 10px;
}
.left-aside section h3{
    color: #006f47;
    font-size: 1.2em;
    margin-bottom: 10px;
}
/*星享之旅*/
.news p{
    line-height: 1.8em;
}
.news p a{
    color: #006f47;
}
/*饮品*/
.drunks figure{
    float: left;
}
.drunks figure.figure-r{
    margin-left: 20px;
}
.drunks figure img{
    width: 141px;
    height: 158px;
    border: 2px solid white;
}
.drunks figure figcaption{
    text-align: center;
}
.clear{
    clear: both;
}
/*内容*/
main{
    float: left;
    width: 560px;
    background: url("images/background.gif") 0 0 repeat;
    margin-left: 10px;
    margin-top: 10px;
    padding: 20px;
}
main article.article{
    border-bottom: 2px dashed #c8b99c;
margin-bottom: 10px;
padding-bottom: 10px;
}
main article.last{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
main article.comment{
    border-bottom: 1px dashed #c8b99c;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
main article h3{
    color: #006f47;
    font-size: 1.2em;
    margin-bottom: 10px;
}
main article time{
    color: #675c47;
    font-size: 0.9em;
}
main article .author{
    color: #675c47;
    float: right;
    margin-right: 20px;
    font-size: 0.9em;
}
main article p{
    line-height: 1.5em;
    margin: 5px 0;
    text-indent: 2em;
}
main article footer{
    text-align: right;
    margin-right: 20px;
    font-size: 0.8em;
}
main article b{
    font-weight: bold;
    color: #675c47;
}
/*页脚*/
.page-footer{
    margin-top: 10px;
    padding: 15px;
    background-color: #675c47;
    text-align: center;
    font-size: 98%;
    color: #efe5d0;
    clear: both;
}